.hero {
    background-image: url('../../assets/1-ea77e3bb-18a9-4dbb-82c8-a968437db015.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 50%;
}