.navbar {
    background-color: rgb(19, 1, 14); 
    padding: 25px 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    font-family: 'Roboto', sans-serif;

    &__list {
        list-style: none; 
        display: flex; /* Align items in a row */
        justify-content: space-between; /* Space between items */
        align-items: center; /* Center items vertically */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
    }
    
    &__brand {
        font-size: 1.5rem; /* Larger font size for brand */
        color: white; /* White text */
        font-weight: bold; /* Bold font */
    }
    
    &__item {
        color: white; /* White text for menu items */
        margin: 0 15px; /* Space between items */
        transition: color 0.3s; /* Smooth transition on hover */
        cursor: pointer; /* Pointer cursor */
    
        &:hover {
            color: #ffab40; /* Change color on hover (orange) */
        }   
    }    
}


