.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#f8584a;
}

.popup-content {
    background-color: #ffebf0; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    h2 {
        margin: 0 0 10px;
    }

    button {
        margin: 5px;
        padding: 10px 15px;
        background-color: #ff6f61; 
        border-radius: 5px;
        color: white;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: #ff9a8b; 
        }
    }
}
