@use "./../../styles/partials/mixins" as *;

.game-instructions-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 5rem;
    font-size: 14px;

    @include tablet {
        display: flex;
        align-items: center;
    }

    @include desktop {
        display: flex;
        align-items: center;
    }

    .video-section {
        flex: 1;
        margin-right: 20px;

        video {
            width: 100%;
            height: auto;
        }
    }

    .instructions-section {
        flex: 1;

        h2 {
            margin-bottom: 15px;
        }

        p {
            margin: 5px 0;
        }
    }
}
